In [2]:
import pandas as pd
from scipy.io import arff
import numpy
import math
import operator

### Loading Data

In [3]:
data=arff.loadarff("./product-selection/trainProdSelection.arff")
traindafr = pd.DataFrame(data[0])
data=arff.loadarff("./product-selection/testProdSelection.arff")
testdafr = pd.DataFrame(data[0])

In [4]:
list(pd.DataFrame(data[0]))
pd.DataFrame(data[0]).dtypes

Type          object
LifeStyle     object
Vacation     float64
eCredit      float64
salary       float64
property     float64
label         object
dtype: object

In [5]:
traindafr.Type=traindafr.Type.str.decode("UTF-8")

In [6]:
traindafr.LifeStyle=traindafr.LifeStyle.str.decode("UTF-8")

In [7]:
traindafr.label=traindafr.label.str.decode("UTF-8")

In [8]:
minValue=traindafr.Vacation.min()
maxValue=traindafr.Vacation.max()
traindafr.Vacation=traindafr.Vacation.apply(lambda x:(x-minValue)/(maxValue-minValue))

In [9]:
minValue=traindafr.eCredit.min()
maxValue=traindafr.eCredit.max()
traindafr.eCredit=traindafr.eCredit.apply(lambda x:(x-minValue)/(maxValue-minValue))

In [10]:
minValue=traindafr.salary.min()
maxValue=traindafr.salary.max()
traindafr.salary=traindafr.salary.apply(lambda x:(x-minValue)/(maxValue-minValue))

In [11]:
minValue=traindafr.property.min()
maxValue=traindafr.property.max()
traindafr.property=traindafr.property.apply(lambda x:(x-minValue)/(maxValue-minValue))

In [12]:
traindafr.head()

      Type     LifeStyle  Vacation   eCredit    salary  property label
0  student  spend>saving  0.079365  0.107558  0.219960  0.183167    C1
1  student  spend>saving  0.158730  0.052326  0.293102  0.112797    C1
2  student  spend>saving  0.095238  0.177326  0.346023  0.174200    C1
3  student  spend>saving  0.031746  0.127907  0.309882  0.189984    C1
4  student  spend>saving  0.222222  0.020349  0.363663  0.127311    C1

In [13]:
testdafr.Type=testdafr.Type.str.decode("UTF-8")

In [14]:
testdafr.LifeStyle=testdafr.LifeStyle.str.decode("UTF-8")

In [15]:
testdafr.label=testdafr.label.str.decode("UTF-8")

In [16]:
minValue=testdafr.Vacation.min()
maxValue=testdafr.Vacation.max()
testdafr.Vacation=testdafr.Vacation.apply(lambda x:(x-minValue)/(maxValue-minValue))

In [17]:
minValue=testdafr.eCredit.min()
maxValue=testdafr.eCredit.max()
testdafr.eCredit=testdafr.eCredit.apply(lambda x:(x-minValue)/(maxValue-minValue))

In [18]:
minValue=testdafr.salary.min()
maxValue=testdafr.salary.max()
testdafr.salary=testdafr.salary.apply(lambda x:(x-minValue)/(maxValue-minValue))

In [19]:
minValue=testdafr.property.min()
maxValue=testdafr.property.max()
testdafr.property=testdafr.property.apply(lambda x:(x-minValue)/(maxValue-minValue))

In [20]:
testdafr.head()

        Type      LifeStyle  Vacation   eCredit    salary  property label
0    student   spend<saving      0.20  0.058824  0.104637  0.398926    C1
1    student  spend>>saving      0.54  0.021008  0.175059  0.243041    C1
2    student  spend<<saving      0.52  0.231092  0.138339  0.085992    C1
3   engineer   spend>saving      0.26  0.151261  0.430086  0.116229    C1
4  librarian   spend<saving      0.00  0.016807  0.352657  0.025714    C1

In [21]:
def euclideanDist(instance1, instance2, length):
    distance = 0
    for i in range(2):
        if (instance1[i]==instance2[i]):
            distance += pow((1), 2)
    for x in range(2,length):
        distance += pow((instance1[x] - instance2[x]), 2)
    return math.sqrt(distance)

In [25]:
def adjacentneighbors(trainingSet, testInstance, k):
    distances = []
    length = len(testInstance)-1
    for x in range(len(trainingSet)):
        dist = euclideanDist(testInstance, trainingSet[x], length)
        distances.append((trainingSet[x], dist))
    distances.sort(key=operator.itemgetter(1))
    neighbors = []
    for x in range(k):
        neighbors.append(distances[x][0])
    return neighbors

In [27]:
def respons(neighbors):
    classVotes = {}
    for x in range(len(neighbors)):
        resp= neighbors[x][-1]
        if resp in classVotes:
            classVotes[resp] += 1
        else:
            classVotes[resp] = 1
    sortedVotes = sorted(classVotes.items(), key=operator.itemgetter(1), reverse=True)
    return sortedVotes[0][0]

In [28]:
def Accuracy(testSet, predictions):
    correct = 0
    for x in range(len(testSet)):
        if testSet[x][-1] == predictions[x]:
            correct += 1
    return (correct/float(len(testSet))) * 100.0

In [29]:
def knn(k):
    predictions=[]
    for x in range(len(testdafr)):
        neighbors = adjacentneighbors(traindafr.values, testdafr.values[x], k)
        result = respons(neighbors)
        predictions.append(result)
        #print('> predicted=' + repr(result) + ', actual=' + repr(testdafr.values[x][-1]))
    accuracy = Accuracy(testdafr.values, predictions)
    print('Accuracy: ' + repr(accuracy) + '% for k='+str(k))
    return accuracy

In [30]:
knn(17)

Accuracy: 28.57142857142857% for k=17

28.57142857142857